pip==20.2.2
h5py==2.10.0
absl-py==0.2.0
astor==0.6.2
backports.weakref==1.0.post1
bleach==3.1.5
click==7.1.2
enum34==1.1.6
Flask==1.1.2
funcsigs==1.0.2
futures==3.1.1
gast==0.2.0
grpcio==1.11.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.11.2
Markdown==2.6.11
MarkupSafe==1.1.1
mock==2.0.0
numpy==1.19.1
pbr==4.0.2
Pillow==7.2.0
protobuf==3.5.2.post1
scipy==1.5.2
six==1.15.0
termcolor==1.1.0
Werkzeug==1.0.1
torch==1.6.0
torchvision==0.7.0
librosa==0.8.0
matplotlib==3.3.1
SoundFile==0.10.3.post1
numba==0.51.0
pydub==0.24.1
resampy==0.2.2
PyYAML==5.3.1
boto3==1.17.110
dvc==2.0.15
